body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header .banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 10px;
}

header .banner .logo {
    height: 50px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.productos, .carrito {
    width: 45%;
    margin-bottom: 20px;
}

.producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border: 1px solid #ddd;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.producto:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.producto img {
    max-width: 100%;
    height: auto;
}

button.agregar {
    background-color: #008CBA;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button.agregar:hover {
    background-color: #007bb5;
    transform: scale(1.1);
}

input.cantidad {
    width: 50px;
    margin: 5px 0;
    padding: 5px;
    text-align: center;
}

.redes-sociales {
    position: fixed;
    top: 50%;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.redes-sociales a {
    margin: 5px 0;
}

.redes-sociales .logo-red {
    width: 40px;
    height: 40px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

button#procederCompra {
    background-color: #008CBA;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button#procederCompra:hover {
    background-color: #007bb5;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .productos, .carrito {
        width: 90%;
    }
}

/* Estilos del modal de pago */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #008CBA;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #007bb5;
}
